body, html {
	background: url('./bg.jpeg');
  background-attachment: fixed; 
  background-size: cover;
}

#login {
	border-radius: 15px;
	border: 2px solid white;
	width: 80%;
	height: 500px;
	margin-top: 7%;
  padding-top: 5%;  

	text-align: center;
	justify-content: center;
	color: white;
}

nav {
  height: 7%;
  background-color: transparent;
  border-bottom: 2px solid gray;
  z-index: 0;
}

#logo {
  font-family: 'Righteous', cursive;
  color: white;
  padding-left: 600px;
}

#logIn {
  border: 2px solid #4CAF50;
  border-radius: 10%;
  background-color: transparent;
  color: white;
  font-size: 20px;
}

#logIn:hover {
  border: none;
  font-size: 130%;
}

a {
  color: black;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 15px;
}

#email_error, #psw_error {
  display: none;
}

label {
	padding-right: 20px;
}

.button {
  border-radius: 15px;
  background-color: transparent;
  border: 2px solid white;
}

#nothing {
  text-decoration: none;
  color: lightgreen;
}

canvas {
  float: left;
  top: 0;
}

/* Set a style for all buttons */
#loginb {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

form {
  width: 80%;
  position: absolute;
}

#email {
  padding-right: 52px;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 20%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 20%;
  }
}


@media only screen and (max-width: 1200px) {
  #logo {
    padding-left: 400px;
  }
}

@media only screen and (min-width: 1100px) {
  #logo {
    padding-left: 900px;
  }

  form {
    width: 60%;
  }
}

