/* CURRENTLY IN: styles/main.css */

/* This is the standard resolution */
html,
body {
  height: 100%;
  width: 100%;
  min-height: 100%;
  overflow: scroll;
  overflow-x: hidden;
  background: url("./bg.jpeg");
  background-attachment: fixed;
  background-size: cover;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

#soundcloud-player .col {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.js-search.input-search {
  font-size: 18px;
}

#soundcloud-player .col-left {
  width: 20%;
  height: 80%;
  overflow-y: scroll;
  margin-top: 6%;

  position: fixed;
  right: 0;
  top: 0;

  min-width: 200px;

  border: 2px solid gray;
  border-radius: 20px;
  margin: 4% 4%;
}

#soundcloud-player .col-right {
  width: 60%;
  height: 80%;
  overflow: auto;

  position: fixed;
  left: 0;
  top: 0;
  margin-top: 6%;
  margin-left: 5%;

  box-sizing: border-box;
  -ms-overflow: none;

  background: transparent;

  border: 2px solid gray;
  border-radius: 80px;
}

#soundcloud-player .main {
  box-sizing: border-box;
  padding: 30px;
  margin-top: 30px;
}

.js-search.input-search {
  border-radius: 15px !important;
  height: 50px;
}

#soundcloud-player .input {
  width: 100%;
  width: 400px;
  margin: 0 200px;
  border-radius: 15px;
  opacity: 0.4;
}

#soundcloud-player .input-search {
  width: 100%;
  display: block;
}

#soundcloud-player .search.icon {
  pointer-events: initial;
  cursor: pointer;
}

#soundcloud-player .search-results {
  margin-top: 30px;
  margin-left: 100px;
}

.col-right::-webkit-scrollbar {
  display: none;
}

#logo {
  font-family: "Righteous", cursive;
  color: white;
  padding-left: 600px;
}

#logIn {
  border: 2px solid #4caf50;
  border-radius: 10%;
  background-color: transparent;
  color: white;
}

#logIn:hover {
  border: none;
  font-size: 130%;
}

#nothing {
  text-decoration: none;
  color: lightgreen;
}

nav {
  height: 7%;
  background-color: transparent;
  border-bottom: 2px solid gray;
  z-index: 1;
}

#footer {
  background-color: transparent;
  border-top: 2px solid gray;
  bottom: 0;
  position: fixed;
  color: white;

  width: 100%;
  text-align: center;
  height: 7%;

  font-family: "Righteous", cursive;
  color: white;
}

a {
  color: black;
}

#left {
  text-align: center;
  position: fixed;
  margin-left: -550px;
  bottom: 18px;
}

#right {
  text-align: center;
  position: fixed;
  margin-left: 500px;
  bottom: 8px;
}

ion-icon {
  font-size: 25px;
}

/* IPhone 8 Plus */
/*@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
    background: none;
  }
}*/

/* IPads */
@media only screen and (max-width: 1200px) {
  .js-search.input-search {
    height: 45px;
  }

  #soundcloud-player .input {
    margin: 0 80px;
  }

  #soundcloud-player .col-right {
    width: 60%;
    height: 70%;
    top: 50px;
  }

  #soundcloud-player .col-left {
    width: 24%;
    height: 70%;
    top: 50px;
    border-radius: 50px;
  }

  .js-search.input-search {
    font-size: 17px;
  }

  #soundcloud-player .input-search {
    padding-left: 15px;
  }

  #soundcloud-player .search-results {
    margin-left: 25%;
    width: 280px;
  }

  #logo {
    padding-left: 83%;
  }

  #left {
    margin-left: -420px;
  }

  #right {
    margin-left: 300px;
  }
}

/* IPad Pro */
@media only screen and (max-width: 800px) {
  #soundcloud-player .input {
    margin: 0 20px;
  }

  #soundcloud-player .search-results {
    margin-left: 20%;
    width: 250px;
  }

  #left {
    margin-left: -320px;
  }

  #right {
    margin-left: 220px;
  }

  #logo {
    padding-left: 83%;
  }
}

/* 1366 x 768 */
@media only screen and (min-width: 1350px) and (max-width: 1400px) {
  #logo {
    padding-left: 80%;
    font-size: 50px;
  }

  #soundcloud-player .main {
    margin-left: 90px;
  }

  #soundcloud-player .input {
    margin: 0 100px;
  }

  #footer {
    font-size: 20px;
  }

  #left {
    margin-left: -500px;
  }

  #right {
    margin-left: 400px;
  }
}

/* 800 x 600 */
@media only screen and (min-width: 800px) and (max-width: 1000px) {
  #soundcloud-player .input {
    margin: 0 70px;
    width: 300px;
  }

  #soundcloud-player .search-results {
    margin-left: 20%;
    width: 250px;
  }

  #left {
    margin-left: -320px;
  }

  #right {
    margin-left: 220px;
  }

  #logo {
    padding-left: 70%;
  }

  #footer {
    bottom: 5px;
  }
}

/* 1920 x 1080 */
@media only screen and (min-width: 1500px) {
  #soundcloud-player .input {
    margin: 0 350px;
    width: 400px;
  }

  #soundcloud-player .search-results {
    margin-left: 20%;
    width: 250px;
  }

  #left {
    margin-left: -620px;
  }

  #right {
    margin-left: 600px;
  }

  #logo {
    padding-left: 95%;
    font-size: 55px;
  }

  #footer {
    font-size: 25px;
  }
}

/* IPhone 8 */
@media only screen and (max-width: 500px) {
  #soundcloud-player .col-right {
    margin-left: 10%;
    width: 80%;
  }

  #soundcloud-player .col-left {
    margin-top: 132% !important;
    left: 30px;
    height: 10%;
    min-width: 80%;
  }

  .visualAudible.mobile,
  .visualAudible.mobile * {
    top: 20px;
    height: 30px;
  }

  #soundcloud-player .input {
    margin: 0 10px;
    width: 250px;
  }

  #soundcloud-player .search-results {
    margin-left: 10px;
  }

  #soundcloud-player .input-search {
    font-size: 13px;
  }

  #left {
    margin-left: -160px;
  }

  #right {
    margin-left: 50px;
  }

  #logo {
    padding-left: 42%;
    font-size: 30px;
  }

  #footer {
    font-size: 18px;
  }

  #logIn {
    display: none;
  }

  ion-icon {
    color: white !important;
  }
}

/* IPhone SE */
@media only screen and (max-width: 350px) {
  #soundcloud-player .col-right {
    margin-left: 10%;
    width: 80%;
    top: 35px;
  }

  #soundcloud-player .col-left {
    left: 20px;
    top: 35px;
  }

  .visualAudible.mobile,
  .visualAudible.mobile * {
    top: 20px;
    height: 30px;
  }

  #soundcloud-player .input {
    margin: 0 10px;
    width: 220px;
  }

  #soundcloud-player .search.icon {
    font-size: 22px;
    right: 10px;
  }

  #soundcloud-player .search-results {
    margin-left: 10px;
  }

  #soundcloud-player .input-search {
    margin-left: -20px;
    font-size: 10px;
  }

  #left {
    margin-left: -130px;
  }

  #right {
    margin-left: 50px;
  }

  #logo {
    padding-left: 30%;
  }

  #footer {
    font-size: 15px;
    padding-top: 45px;
  }

  #logIn {
    display: none;
  }

  ion-icon {
    color: white !important;
  }
}
